<header class="main-header">  
  <nav class="navbar navbar-dark navbar-expand-lg" style="background-color: var(--color-1);">
    <div class="container">
      <a class="navbar-brand" href="/"><img src="/assets/running-shoe.png" />Running Log</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mainNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <%= link_to t('nav.home'), root_path, class: "nav-link"  %>            
          </li>
          <%- if user_signed_in? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                <%= t('nav.running') %>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to t('nav.activities'), activities_path, class: "dropdown-item" %>
                </li>
                <li>
                  <%= link_to t('nav.newActivity'), new_activity_path , class: "dropdown-item" %>
                </li>
              </ul>
            </li>
          <% end %>
          <%- if ! user_signed_in? %>
            <li class="nav-item">              
              <%= link_to t('nav.signIn'), new_user_session_path, class: "nav-link"  %>            
            </li>
            <li class="nav-item">              
              <%= link_to t('nav.signUp'), new_user_registration_path, class: "nav-link sign-up"  %>            
            </li>
          <% else %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <%= current_user.full_name %>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to t('nav.profile'), '#', class: "dropdown-item" %>
                </li>
                <li>
                  <%= link_to t('nav.signOut'), destroy_user_session_path, class: "dropdown-item", 'data-method': :delete, :rel => 'nofollow' , data: { confirm: t('nav.signOutConfirmation') } %>
                </li>
              </ul>
            </li>
          <% end %>          
        </ul>        
      </div>
    </div>
  </nav>
</header>

<%- if notice || alert  %>
  <div class="notifications">
    <%- if notice  %>
      <p class="notification-notice"><%= notice %></p>
    <% end %>
    <%- if alert  %>
      <p class="notification-alert"><%= alert %></p>
    <% end %>
  </div>
<% end %>