<%= form_with(model: activity) do |f| %>
  <div class="row">
    <% if activity.errors.any? %>
      <div id="error_explanation">
        <p><%= pluralize(activity.errors.count, "error") %> prohibited this activity from being saved:</p>
        <ul>
          <% activity.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mb-3">
      <%= f.label :title, class: "form-label" %>
      <%= f.text_field :title, class: "form-control" %>
    </div>

    <div class="mb-3 col-6">
      <%= f.label :activity_type, class: "form-label" %>      
      <%= f.select :activity_type, options_for_select(Activity.activity_type_options), {prompt: false}, class: "form-control" %>
    </div>

    <div class="mb-3 col-6">
      <%= f.label :date, class: "form-label" %>
      <%= f.date_field :date, class: "form-control" %>
    </div>

    <div class="mb-3 col-6 time-select">
      <%= f.label :start, class: "form-label " %>
      <%= f.time_select :start, class: "form-control form-select" %>
    </div>

    <div class="mb-3 col-6 time-select">
      <%= f.label :duration, class: "form-label" %>
      <%= f.time_select :duration, class: "form-control form-select" %>
    </div>

    <div class="mb-3 col-6">
      <%= f.label :pace, class: "form-label" %>
      <%= f.number_field :pace, class: "form-control" %>
    </div>

    <div class="mb-3 col-6">
      <%= f.label :distance, class: "form-label" %>
      <%= f.text_field :distance, class: "form-control" %>
    </div>

    <div class="mb-3 col-6">
      <%= f.label :steps, class: "form-label" %>
      <%= f.number_field :steps, class: "form-control" %>
    </div>

    <div class="mb-3 col-6">
      <%= f.label :heart_rate, class: "form-label" %>
      <%= f.number_field :heart_rate, class: "form-control" %>
    </div>

    <div class="mb-4">
      <%= f.label :notes, class: "form-label" %>
      <%= f.text_area :notes, class: "form-control" %>
    </div>  

    <div class="mb-3">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  <% end %>
</div>